<h3>{{ _('Ultimaker Format Package') }}</h3>
<div class="control-group">
	<div class="controls">
		<label class="checkbox">
		<input type="checkbox" data-bind="checked: settings.plugins.UltimakerFormatPackage.inline_thumbnail"> Use inline thumbnails.
		</label>
	</div>
</div>
