/* #UltimakerFormatPackage_thumbnail_viewer {
	width: 330px;
	margin-left: -165px;
} */

#UltimakerFormatPackage_thumbnail_viewer h3 {
	overflow: hidden;
}

#files .gcode_files .entry {
	overflow: hidden;
}

#files .gcode_files .entry img, #UFP_state_thumbnail img {
	width: auto;
}

.inline_thumbnail.pull-left, #UFP_state_thumbnail.pull-left {
	padding-right: 5px;
}

#UFP_state_thumbnail.pull-left img {
	width: 100%;
}
